# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.rsuser

# .NET
**/bin/
**/obj/

# Node / React
node_modules/
dist/
.vite/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local

# OS
.DS_Store
Thumbs.db